body {
      background: #f4f4f4;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.box {
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    color: red;
}

.box1 { background-color:orange }
.box2 { background-color:orange }
.box3 { background-color:orange }
.box4s { background-color:orange }


.more-content {
    display: none;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
